<!-- templates/send.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Send Page</title>
    <!-- Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
    <!-- Add meta tag for viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include jQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

            $('#send').click(function (e) {
                text = $('#text').val();
                if (countWords(text) > 10) {
                    $('#text').val('');
                    socket.emit('text', {
                        msg: text
                    });
                } else {
                    alert('Please enter more than 10 words.');
                }
            });
        });

        function countWords(str) {
            return str.split(/\s+/).length;
        }
    </script>
</head>

<body class="d-flex align-items-center justify-content-center">
    <div class="chatwindow send-page container">
        <h2>Your text</h2><br>
        <!-- Add a container to center the input field on mobile -->
        <div class="input-container">
            <input type="text" id="text" class="form-control mb-2" placeholder="Enter your message here" />
        </div>
        <button type="button" id="send" class="btn btn-primary">SEND</button>
    </div>
</body>

</html>
